<div class="panel">
    <div class="panel-header">
        <h2>Current Admission</h2>
    </div>
    <div class="panel-content">
        <table class="table-medication">
            <thead>
                <tr>
                    <td class="col-drug-name">Consultant</td>
                    <td class="col-dose">Date</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{encounter.consultant}}</td>
                    <td>{{encounter.date}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>